@font-face {
  font-family: Gloock;
  src: url(assets/Gloock-Regular.ttf);
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-size: cover;
  font-family: Gloock, Times, serif;
  letter-spacing: 1.75px;
  width: calc(100% - 30px);
  padding: 15px;
  background-color: rgb(25, 55, 110);
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.titulo {
  text-align: center;
  font-family: Gloock, Times, serif;
  font-size: 48px;
}

.artigo {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  width: 65%;
  min-height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.artigo p {
  font-family: Times, serif;
  font-size: 24px;
}

.primeiraletra {
  font-size: 48px;
  font-family: Times, serif;
  font-weight: 700;
  color:rgb(25, 55, 110)
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

@media only screen and (max-width: 768px) {
  .artigo {
    width: 80%;
  }

  .artigo p {
    font-size: 20px;
  }
}